<p class="terms" align="center">
    Privacy, Transparency and Customer Satisfaction are our Goals,
    <br/> Our services are in compliance with GDPR, HIPPA new regulations
  </p>
  <div class="row">
    <div class="col-sm-10 col-md-6 col-lg-4">
      <div class="box2">
        <div class="caption">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin:0% 0% 0% 0%">
            <img widht="50%" style="margin-top:1.5cm" height="40%" src="assets/encryption.png">
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="margin:0% 0% 0% 0%;background-color:blue">
            <h3 style="margin-top:1cm">Encrypt your data</h3>
            <p>you encrypt your data on your device, we don't have your key, only you and your doctor or your prefered third
              party has it.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-md-6 col-lg-4">
      <div class="box2">
        <div class="caption">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin:0% 0% 0% 0%">
            <img widht="50%" style="margin-top:1.5cm" height="40%" src="assets/transparency.png">
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="margin:0% 0% 0% 0%">
            <h3 style="margin-top:1cm">Transparency is core of our business</h3>
            <p>we don't have access to your data because your data encrypted on our server and we don't have your key.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-md-6 col-lg-4">
      <div class="box2">
        <div class="caption">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin:0% 0% 0% 0%">
            <img widht="50%" style="margin-top:1.5cm" height="40%" src="assets/mobile.png">
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="margin:0% 0% 0% 0%">
            <h3 style="margin-top:1cm"> Mobile services</h3>
            <p>Our mobile apps are easy to use and seamlessly encrypt your data </p>
          </div>
        </div>
      </div>
    </div>
  </div>